[Unit]
Requires=zookeeper.service
After=zookeeper.service

[Service]
Type=simple
User=kafka
ExecStart=/bin/sh -c '/home/shared/kafka/bin/kafka-server-start.sh /home/shared/kafka/config/server.properties > /home/shared/kafka/kafka.log 2>&1'
ExecStop=/home/shared/kafka/bin/kafka-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target